<p class="btn <%= modifire %>">
	<a class="btn_link" href="https://tayori.com/form/424c9f29011054934ce1cfc023a53cb3c6d1dc18" target="_blank"
		><span class="btn_text">無料登録</span><span class="btn_icon"><span class="iconmin launch"></span></span
	></a>
</p>
