<%# ====================================== footer ==================================== _%>
<footer class="l-footer">
	<div class="footer">
		<div class="l-inner">
			<section class="l-section">
				<!-- rogo -->
				<div class="footer_logo"><p class="heading -simple -mb3">SAMPLE</p></div>

				<!-- button -->
				<p class="btn -secondary">
					<a class="btn_link" href=""
						><span class="btn_text -withIcon">お問い合わせ</span><span class="c-icon material-icons"> mail_outline </span></a
					>
				</p>
			</section>

			<!-- copyright -->
			<p class="footer_copyright"><small>Copyright &copy; 株式会社SAMPLE All Rights Reserved</small></p>
		</div>
	</div>
</footer>
