<%# ====================================== カート内アイテム ==================================== -%>
<section class="cartItem">
	<!-- infoBox -->
	<div class="cartItem_infoBox">
		<p class="cartItem_title"><i class="fas fa-chevron-circle-right"></i><%= title %></p>
		<!-- priceBox -->
		<div class="cartItem_priceBox">
			<!-- orderCount -->
			<div class="orderCount">
				<button class="orderCount_button" type="button">
					<span><i class="fas fa-minus"></i></span>
				</button>
				<input class="orderCount_input" type="text" name="" placeholder="0" min="0" max="30" />
				<button class="orderCount_button" type="button">
					<span><i class="fas fa-plus"></i></span>
				</button>
			</div>
			<!-- price -->
			<p class="cartItem_price"><i class="fas fa-yen-sign"></i><%= price %></p>
		</div>
	</div>

	<!-- mediaBox -->
	<div class="cartItem_mediaBox">
		<figure class="cartItem_img"><img src="<%= baseMeta.pathsImg %><%= img %>" alt="" decoding="async" /></figure>
	</div>

	<!-- deleteBox -->
	<div class="cartItem_deleteBox">
		<button type="button" class="cartItem_deleteButton">
			<span><i class="fas fa-times"></i></span>
		</button>
	</div>
</section>
