/* background -------------------------------------------------- */

/* --------------------

カラーはbeforeを使用、
画像はafterを使用

-------------------- */

//基本はセクション自体にクラスをつける感じ

/* common */
.background {
	&::before {
		z-index: -15;
	}
	&::after {
		z-index: -10;
	}
}

/* 背景色 白 */
.background.-white {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		// background-image: linear-gradient(45deg, #dfe9f7, #dff7e9);
		background-color: #fff;
	}
}

/* 背景色  */
.background.-light {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		// background-image: linear-gradient(45deg, #dfe9f7, #dff7e9);
		background-color: $cl-white;
	}
}

/* 背景色  */
.background.-middle {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		background-color: #f4f9f8;
	}
}

/* グラデーション背景 濃い */
.background.-deep {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';

		@include gr-key();

		opacity: 0.2;
	}
}

/* 斜め背景 */
.background.-skew {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -5;
		display: block;
		width: 100%;
		height: 80%;
		content: '';
		background-color: $cl-key;
		transform: skewY(-4deg);
		transform-origin: left bottom;
		// transform: skewY(-4deg) translateY(-50%);
	}
}

/* triangle */
.background.-triangle {
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 150%;
		padding-top: 100%;
		margin-top: -100%;
		content: '';
		background-color: #f4f9f8;
		transform: rotate(-22.5deg);
		transform-origin: bottom right;
	}
}

/* centerTriangle */
//下向きの中心にある二等辺三角形
.background.-centerTriangle {
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		width: 0;
		height: 0;
		content: '';
		border-color: $cl-key transparent transparent transparent;
		border-style: solid;
		border-width: rem(240) rem(240) 0 rem(240); //最初のが高さに相当
		opacity: 0.06;
		transform: translateX(-50%);

		@include mq() {
			border-width: rem(320) rem(320) 0 rem(320); //最初のが高さに相当
		}

		@include mq(lg) {
			border-width: rem(400) rem(400) 0 rem(400); //最初のが高さに相当
		}
	}
}

/* centerTriangle */
//下向きの中心にある二等辺三角形
.background.-centerTriangle01 {
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		top: rem(-1050); //三角が見える範囲（サイズ）数値が
		left: 50%; //支点
		display: block;
		width: rem(1000);
		height: rem(1000); //三角のサイズここでは大きめに作って上で調整
		content: '';
		background-color: $cl-key;
		opacity: 0.07;
		transform: rotate(45deg);
		transform-origin: top left;
	}
}

/* square */
.background.-square {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		width: 100%;
		height: rem(310);
		// padding-top: 100%;
		content: '';
		background-image: linear-gradient(45deg, #dfe9f7, #dff7e9 100%);
		opacity: 0.7;

		@include mq() {
			height: rem(380);
		}
	}
}

/* イメージ画像 PCWork */
.background.-pcWork {
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		background-image: url(../img/bg/enrollment-pcWork.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		opacity: 0.2;
	}
}

/* イメージ画像 calculation */
.background.-calculation {
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		background-image: url(../img/bg/price-calculation.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		opacity: 0.1;
	}
}

//--------------

// .background.-heroImg {
// 	position: relative;

// 	&::before {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		display: block;
// 		width: 100%;
// 		height: 100%;
// 		content: '';
// 		border-radius: 0 0 0 rem(32);
// 		@include gr-key();

// 		opacity: 0.2;

// 		@include mq(sm) {
// 			border-radius: rem(32) 0 0 rem(32);
// 		}

// 		@include mq() {
// 			border-radius: rem(104) 0 0 rem(104);
// 		}
// 	}
// }

.background.-sky {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		background-color: #95bcf5; //空の色
	}
}

//橋の写真
.background.-hero {
	position: relative;

	//写真
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		// background-image: url(../img/bg/bg-craneAndSky.jpg),
		// 	url(../img/bg/bg-cranes.jpg), url(../img/bg/bg-craneAndHuman.jpg);
		background-image: url(../img/hero/hero_bridge@2000.jpg);
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: auto 100%;

		@include mq(xl) {
			background-size: 100% auto;
		}
	}
}

//クレーンの写真
.background.-photo {
	position: relative;
	overflow: hidden;

	//色
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		background-color: #000;
		opacity: 0.1;
	}

	//写真
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		// background-image: url(../img/bg/bg-craneAndSky.jpg),
		// 	url(../img/bg/bg-cranes.jpg), url(../img/bg/bg-craneAndHuman.jpg);
		background-image: url(../img/bg/bg-craneSet.jpg);
		background-repeat: repeat-x;
		background-position: top center;
		background-size: auto 100%;
		opacity: 0.1;

		@include mq(xl) {
			// background-size: 100% auto;
		}
	}
}

// .background.-project {
// 	position: relative;

// 	&::before {
// 		position: absolute;
// 		top: rem(16);
// 		left: rem(16);
// 		display: block;
// 		width: 100%;
// 		height: 100%;
// 		content: '';
// 		@include gr-key();

// 		opacity: 0.5;
// 	}
// }
