/* heading -------------------------------------------------- */

/* h1 */
.heading1 {
	@include lineHeightCrop(1.8);

	color: $cl-key;

	@include mq(lg) {
		margin-right: -24%; //ブレイクポイントで親を広げることで中のinlinblockを横並びにさせ１行に。
	}

	//underline
	&_underLine {
		padding-bottom: 0.2em;
		border-bottom: rem(3) solid $cl-key;
	}
}

/* h2 */
.heading2 {
	position: relative;
	padding-bottom: rem(24 + 5); //余白+装飾ラインの太さ
	color: $cl-point;
	text-align: center;

	//見出し下のライン
	&::before {
		position: absolute;
		bottom: 0;
		left: 50%;
		display: block;
		width: rem(40);
		height: rem(5);
		margin-left: rem(-20); //半分
		content: '';
		background-color: currentColor;
	}

	//全体を囲むラップ
	&_wrap {
		margin-bottom: rem(40); //共通のマージン

		@include mq() {
			margin-bottom: rem(64);
		}
	}

	//リード
	&_read {
		margin-top: rem(24);
		font-weight: 700;
		color: $cl-base;
		text-align: center;
	}

	//サブテキスト
	&_text.-sub {
		// @include ff-en();

		display: block;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1;
		// color: rgba($color: #fff, $alpha: 0.6);
	}

	//メインテキスト
	&_text.-main {
		display: block;
		margin-top: rem(16);
		line-height: 1;
		color: #fff;
		// letter-spacing: 0;
	}
}

//ver
.heading2 {
	//黒文字・ポイントカラー
	&.-black {
		// color: $cl-key;

		.heading2_text.-main {
			color: $cl-black;
		}
	}

	//青文字・キーカラー
	&.-deep {
		color: $cl-key;

		.heading2_text.-main {
			color: $cl-base;
		}
	}
}

/* h3 */
.heading3 {
	position: relative;
	padding-bottom: rem(24 + 5); //余白+装飾ラインの太さ
	margin-bottom: rem(40); //共通のマージン
	color: $cl-white;
	text-align: center;

	@include mq() {
		margin-bottom: rem(64);
	}

	//見出し下のライン
	&::before {
		position: absolute;
		bottom: 0;
		left: 50%;
		display: block;
		width: rem(40);
		height: rem(2);
		margin-left: rem(-20); //半分
		content: '';
		background-color: currentColor;
	}

	//サブテキスト
	&_text.-sub {
		// @include ff-en();

		display: block;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1;
		// color: rgba($color: #fff, $alpha: 0.6);

		@include mq() {
		}
	}

	//メインテキスト
	&_text.-main {
		display: block;
		margin-top: rem(16);
		line-height: 1;
		color: #fff;
		// letter-spacing: 0;
	}
}

//黒文字ver
.heading3 {
	&.-deep &_text.-main {
		color: $cl-black;
	}
}
