//上層のdllist
//wrapはddの中に別のlistなどが入るpaddingの無い中身を包むだけのもの
.dllist.-upper {
	font-size: 0.9em;
	text-align: left;

	@include mq() {
		font-size: 1em;
	}

	& > .box {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: start;

		& > .title {
			flex: 0 0 8em; //最低
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}

		& > .wrap,
		& > .text {
			// flex: 0 1 calc(100% - 8em); //title
			flex: 1 1 auto; //title IE対策-1
			width: calc(100% - 8em); //IE対策-2
			padding-left: 2em; //borderのための余白
			margin-left: auto; //大事
			border-left: rem(1) solid $cl-black-l;
		}

		& > .text {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
	}
}

//下層のdllist
.dllist.-under {
	font-size: 0.9em;
	text-align: left;

	@include mq() {
		font-size: 1em;
	}

	& > .box {
		display: flex;
		flex-flow: row wrap;
		align-content: center;
		justify-content: start;

		& > .title {
			flex: 1 1 100%; //
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}

		& > .wrap,
		& > .text {
			flex: 1 1 100%; //
			padding-left: 1em;
		}

		& > .text {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
	}
}

//主にdllist
//ボーダーを付ける関係で改行はブレイクポイント依存で
.dlList01 {
	& > .box {
		display: flex;
		flex-flow: row wrap;
		align-content: center;
		justify-content: start;

		//アイコン
		.icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 2em;
			color: $cl-key;

			//アイコンフォント自体
			span {
				font-size: 1.2em;
			}
		}

		//dt
		& > .title {
			flex: 1 0 11em; //最低10em。borderのためにのばす
			padding-top: 0.5em;
			padding-bottom: 0.5em;

			@include mq(lg) {
				flex: 0 0 11em; //２列になり幅がないので最小幅で
			}
		}

		//dd
		//改行はこのdtを基準にする
		& > .text {
			flex: 1 1 100%; //１行
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			padding-left: 2em; //アイコンとアイコンの余白分

			@include mq(lg) {
				flex: 1 1 50%; //2行に
			}
		}

		//dd 長い文章用
		& > .text.-long {
			flex: 1 1 100%;
		}
	}
}
