//プロジェクトレイヤーがレイアウトレイヤー・コンポーネントレイヤーを上書きすることはOK。
//フレックスボックスなどのl-レイヤーに色々上書きしても良いことのする。
//サイト内共通パーツ

// base用 --------------------------------------------------

// .img {
// 	display: block;
// 	width: 100%;
// 	height: 100%;
// 	min-height: rem(150);

// 	img {
// 		width: 100%;
// 	}
// }

// .card01 {
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba($color: #000, $alpha: 0.05);

// 	&.-info {
// 		padding: 10%;
// 	}

// 	&.-media {
// 	}
// }

// base用 common --------------------------------------------------

// .bottom_btn {
// 	margin-top: rem(32);
// 	@include mq() {
// 		margin-top: rem(64);
// 	}
// }

// .markList {
// 	// text-indent: 1em;
// 	list-style: square;
// 	list-style-position: inside; //マーカーを行の内側から始める
// }

/* COMMON SECTION --------------------------------------------------  */

// .title {
// 	@include lineHeightCrop(1.8);
// }

// .text {
// 	@include lineHeightCrop(1.8);

// 	&.-color {
// 		font-size: 1.2em;
// 		color: $cl-key;
// 	}
// }

// .sliderBox {
// 	width: 100%;
// 	padding: rem(32);
// }

//visibleのスワイパーを囲むもの
.sliderContainer {
	position: relative; //swipercontainer外のnavなどの配置のため
	overflow: hidden;

	// & + & {
	// 	margin-top: rem(40);
	// 	@include mq() {
	// 		margin-top: rem(64);
	// 	}
	// }
}

/* HERO SECTION -------------------------------------------------- */

//heroの大きさ
.hero_wrap {
	position: relative;
	width: 100%;
	height: rem(440);
	padding-top: rem(24); //文字の距離
	overflow: hidden;

	@include mq(sm) {
		height: rem(500);
	}
	@include mq() {
		height: rem(700);
		padding-top: rem(72); //文字の距離
	}
	@include mq(lg) {
	}
}

.hero_info {
	position: relative;
	z-index: 1;
	width: 84%; //375pxに対し左右に30px
	max-width: rem(800);

	// padding: rem(32);
	margin-right: auto;
	margin-left: auto;
}

//
.hero_media {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -14;
	width: 100%;

	@include mq(xl) {
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);
	}

	img {
		width: 100%;
	}
}

.hero_read {
	@include ff-jp();

	margin-top: rem(24);

	@include mq() {
		font-size: 1.2rem;
		line-height: 2;
	}
}

/* HEROPRODUCT SECTION -------------------------------------------------- */

.heroProduct {
	// position: relative;
	width: 100%;
	padding-top: rem(8); //文字のスペース確保
	text-align: center;

	@include mq() {
		// padding-top: 0; //文字のスペース確保
	}

	//ブルー背景のテキスト
	&_text {
		@include ff-jp();

		display: block;
		width: 70%; //innerかわり
		max-width: rem(680);
		margin-right: auto;
		margin-left: auto;
		font-size: 0.8rem;
		color: #fff;
		text-align: left;

		@include mq() {
			font-size: 1rem;
		}

		@include mq(lg) {
			font-size: 1.2rem;
		}
	}

	//ラフテレーンクレーン写真
	&_img {
		width: 100%;
		margin-top: -3.5%; //テキストとの距離を詰める
		text-align: center;

		img {
			width: 84%;
			max-width: rem(900);
		}

		@include mq() {
			margin-top: -4%; //テキストとの距離を詰める
		}
		@include mq(xxl) {
			margin-top: -3%; //テキストとの距離を詰める
		}
	}
}

/* ABOUT SECTION -------------------------------------------------- */

.about_wrap {
}

//通常
.about_card {
	padding-top: rem(56);
	padding-bottom: rem(56);

	@include mq() {
		padding-top: rem(80);
		padding-bottom: rem(80);
	}
}

//上の地図とかかるカード
.about_card.-underMap {
	padding-top: rem(80);
	@include mq() {
		padding-top: rem(160);
	}
}

//画像
.about {
	&_map {
		margin-bottom: rem(-72);
		text-align: center;

		@include mq() {
			margin-bottom: rem(-150);
		}

		img {
			width: 80%;
			max-width: rem(720);
		}
	}

	&_twoPhoto {
		display: flex;
		width: 100%;

		img {
			width: 100%;
		}
	}

	//logoとキャッチ共通
	&_img {
		text-align: center;
	}

	//logo
	&_logo {
		width: 50%;
		max-width: rem(551);
	}

	//キャッチコピー
	&_LYD {
		width: 40%;
		max-width: rem(321);
	}

	&_slideImg {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

//文字
.about {
	&_title {
		@include lineHeightCrop(1.8);

		margin-top: rem(32);
		color: $cl-point;

		@include mq() {
			margin-top: rem(48);
		}
	}

	&_text {
		@include lineHeightCrop(1.8);

		margin-top: rem(24);

		@include mq() {
			margin-top: rem(32);
		}

		//
		&.-color {
			@include ff-jp();

			font-weight: 700;
			color: $cl-key;
		}
	}
}

/* FEATURE SECTION -------------------------------------------------- */

//ollist
.feature {
	counter-reset: featureItemCount; //どの要素でリセットするか。[カウンタ名,0に値する数字]

	//li
	&_item {
		position: relative;
		padding-left: 3em; //数字のため
		counter-increment: featureItemCount; //カウントする要素 [カウンタ名,１単位]

		& + & {
			margin-top: rem(32);
			@include mq() {
				margin-top: rem(64);
			}
		}

		//数字の部分 contentでcounterの値を使用,スタイルを設定可能 decimal が初期
		//decimal-leading-zero
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 50%; //boxの大きさは適当
			height: 100%;
			margin-top: -0.4em;
			font-size: rem(32);
			color: $cl-point;
			pointer-events: none;
			content: counter(featureItemCount, decimal) '.';

			@include mq() {
				font-size: rem(64);
			}
		}

		//２の倍数で互い違いに
		&:nth-of-type(2n) {
			margin-left: auto;
		}

		@include mq() {
			width: 80%;
			padding-left: 5em;
		}

		//

		& > .title {
			padding-bottom: 0.8em;
			color: #fff;
			border-bottom: rem(1) solid #fff;
		}

		& > .read {
			margin-top: 1.2em;
			font-size: 1.2em;
			color: $cl-point-l;
		}

		& > .text {
			margin-top: 0.8em;
			font-weight: 400;
			line-height: 2;
			color: $cl-white;
		}
	}
}

/* PRODUCT SECTION -------------------------------------------------- */

.product_img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000, $alpha: 0.2);

	img {
		max-width: rem(400);
	}
}

//要素
.productInfo {
	//インナーがわり
	width: 84%; //375pxに対し左右に30px
	max-width: rem(600);
	margin-top: rem(16);
	margin-right: auto;
	margin-left: auto;

	@include mq() {
		margin-top: rem(24);
	}

	//
	&_title {
		@include lineHeightCrop(1.8);

		position: relative;
		padding-bottom: rem(16 + 2); //余白+装飾ラインの太さ
		font-size: 1.2rem;
		font-weight: 500;
		color: #fff;
		text-align: center;

		//見出し下のライン
		&::before {
			position: absolute;
			bottom: 0;
			left: 50%;
			display: block;
			width: rem(40);
			height: rem(2);
			margin-left: rem(-20); //半分
			content: '';
			background-color: currentColor;
		}
	}

	//
	&_text {
		@include lineHeightCrop(1.8);

		margin-top: rem(23);
		font-size: 0.8em;
		font-weight: 400;
		color: rgba($color: #fff, $alpha: 0.8);
	}
}

/* STAFF SECTION -------------------------------------------------- */

.staff_card {
	// position: relative;
	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: center;
	font-size: 0.9em;

	// padding: rem(24);

	// &::before {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: -1;
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	content: '';
	// 	background-color: $cl-key;
	// 	opacity: 0.5;
	// }
}

.staff_info {
	height: 100%;
	padding: rem(24);
	// text-align: center;

	@include mq() {
		padding: rem(32);
	}
}

.staff_media {
	width: 100%;
	text-align: center;

	img {
		@include shadow-black();

		width: 100%;
		max-width: rem(300);
	}
}

.staff {
	&_text {
		color: $cl-white;
	}
}

/* COMPANY SECTION -------------------------------------------------- */

.company_card {
	& + & {
		margin-top: rem(32);
		@include mq() {
			margin-top: rem(40);
		}
	}
}

.company_info {
	width: 100%;
	padding-top: rem(40);
	padding-bottom: rem(40);
	font-size: 0.8rem;

	@include mq(sm) {
		font-size: 1rem;
	}

	@include mq() {
		padding-top: rem(80);
		padding-bottom: rem(80);
	}
}

.company_media {
	width: 100%;
	img {
		width: 100%;
	}
}

/* RECRUIT SECTION -------------------------------------------------- */

//flex
.recruit {
	//外側
	&_flex {
		display: flex;
		flex-flow: row wrap;
		margin: -2.5%;
	}

	&_flexItem {
		flex: 1 1 rem(400);
		padding: 2.5%;
	}
}

.recruit_card {
	@include shadow-key();

	height: 100%;
	background-color: #fff;
}

.recruit_info {
	height: 100%;
	padding: rem(40) rem(40) rem(56) rem(40);
}

.recruit_media {
	width: 100%;
	padding: rem(12) rem(12) 0 rem(12);
	text-align: center;
}

.recruit_img {
	img {
		width: 100%;
		max-width: rem(500);
	}
}

//要素
.recruit {
	&_title {
		@include lineHeightCrop(1.8);

		text-align: center;
	}

	&_read {
		@include lineHeightCrop(1.8);

		margin-top: rem(16);
		color: $cl-key;
		text-align: center;

		@include mq() {
			margin-top: rem(24);
		}
	}

	&_text {
		@include lineHeightCrop(1.8);

		margin-top: rem(24);

		@include mq() {
			margin-top: rem(40);
		}
	}
}

/* CTA SECTION -------------------------------------------------- */

.cta_btnUpper {
	display: inline-block;
	padding-right: 2em;
	padding-left: 2em;
	font-weight: 700;
	color: $cl-key;
}

.cta_text {
	@include lineHeightCrop(2);

	margin-top: rem(40);
	font-size: rem(18);
	font-weight: 700;
	line-height: 2;
	color: $cl-key;
	text-align: left;

	@include mq(sm) {
		text-align: center;
	}

	@include mq() {
		margin-top: rem(72);
		font-size: rem(20);
	}
}

//スクロールアイコン heroCardがrerative
.scrollBtn {
	@include shadow-key();

	position: relative;
	bottom: rem(-16); //半分
	left: 50%;
	display: inline-block;
	width: rem(32);
	height: rem(32);
	margin-top: rem(40);
	margin-left: rem(-16); //半分
	background-color: #fff;
	border-radius: 50%;

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: 30%;
		height: 30%;
		margin: 30% auto 0 auto;
		content: '';
		border-right: rem(3) solid $cl-key;
		border-bottom: rem(3) solid $cl-key;
		transform: rotate(45deg);
	}

	@include mq(lg) {
		margin-top: rem(64);
		transform: scale(1.4);
	}
}

/* ENTRY SECTION -------------------------------------------------- */

.entry {
	&_info {
		padding: rem(24);
		border: rem(8) solid #fff;

		@include mq() {
			padding: rem(40);
		}
	}

	&_infoWrap {
		width: 100%;
		max-width: rem(700);
		margin-right: auto;
		margin-left: auto;
	}

	&_text {
		& + & {
			margin-top: rem(16);
		}
	}
}

/* ENTRY SECTION -------------------------------------------------- */

.footer {
	padding-top: rem(80);
	padding-bottom: rem(80);
}

.footer_copyright {
	text-align: center;
}

//=========================================================================
