// text --------------------------------------------------

.u-textCenter {
	text-align: center;
}

.u-textLeft {
	text-align: left;
}

.u-textRight {
	text-align: right;
}

.u-textJustify {
	text-align: justify;
}

// size _______________________________________________

.u-normal {
	font-weight: normal;
}

.u-bold {
	font-weight: 700;
}

// size _______________________________________________

.u-newLine {
	display: inline-block;
}

.u-newLineSp {
	display: inline;

	@include mq(sm) {
		display: inline-block;
	}
}

.u-newLinePc {
	display: inline;
	@include mq() {
		display: inline-block;
	}
}

// .u-br {
// 	&.-spOnly {
// 		display: inline-block;
// 		@include mq(sm) {
// 			display: none;
// 		}
// 	}

// 	&.-pcOnly {
// 		display: inline-block;
// 		@include mq(sm) {
// 			display: none;
// 		}
// 	}
// }

// size _______________________________________________

// レスポンシブではない、あくまで汎用的な固定フォントサイズ？

.u-text-xxl {
	font-size: 2rem;
}

.u-text-xl {
	font-size: 1.5rem;
}

.u-text-l {
	font-size: 1.2rem;
}

.u-text-m {
	font-size: 1rem;
}

.u-text-s {
	font-size: 1rem;
}

.u-text-xs {
	font-size: 0.8rem;
}

.u-text-xxs {
	font-size: 0.6rem;
}

//

.u-textS {
	font-size: 0.8em;
	opacity: 0.8;
}
